body {
    font-family: Arial, sans-serif;
}

.personaje {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personaje img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 20px;
}

.personaje img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.personaje img:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}